{% extends "core/base.html" %}

{% block title %}Password Vault{% endblock %}

{% block content %} 
<div class="search-box">
  <input
    type="text"
    id="credentialSearch"
    placeholder="Search websites or usernames..."
    onkeyup="filterCredentials()"
  >
</div>
<div class="card">
  <div class="header">
    <div>
      <h1>Your Stored Passwords</h1>
      <p>View the credentials saved in your vault.</p>
    </div>

    <a class="btn" href="{% url 'credential-create' %}">+ Add Credential</a>
    <a class="btn" href="{% url 'import_passwords' %}">+ Upload CSV</a>
  </div>

  {% if credentials %}
    <div class="table-wrap">
      <table class="password-table" id="credentialsTable">
        <thead>
          <tr>
            <th>Website</th>
            <th>URL</th>
            <th>Username</th>
            <th>Password</th>
          </tr>
        </thead>

        <tbody>
          {% for credential in credentials %}
          <tr>
            <td>{{ credential.website_name }}</td>

            <td>
              {% if credential.website_url %}
                <a href="{{ credential.website_url }}" target="_blank">
                  {{ credential.website_url }}
                </a>
              {% else %}
                —
              {% endif %}
            </td>

            <td>{{ credential.username }}</td>

            <td>
              <span id="pw-{{ credential.id }}">••••••••</span>

              <button type="button"
                      onclick="togglePassword('{{ credential.id }}', '{{ credential.get_decrypted_password }}')">
                Show
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="empty">
      No credentials saved yet.
    </div>
  {% endif %} 
</section>


<!--  table showing passwords -->




<script>
function togglePassword(id, password) {
    const el = document.getElementById(`pw-${id}`);

    if (el.innerText === "••••••••") {
        el.innerText = password;
    } else {
        el.innerText = "••••••••";
    }
}
</script>

<script>
function filterCredentials() {
    const input = document.getElementById("credentialSearch");
    const filter = input.value.toLowerCase();

    const table = document.getElementById("credentialsTable");
    const rows = table.getElementsByTagName("tr");

    for (let i = 1; i < rows.length; i++) {
        const row = rows[i];

        const website = row.cells[0]?.textContent.toLowerCase() || "";
        const username = row.cells[2]?.textContent.toLowerCase() || "";

        if (
            website.includes(filter) ||
            username.includes(filter)
        ) {
            row.style.display = "";
        } else {
            row.style.display = "none";
        }
    }
}
</script>
{% endblock %}
